Django==5.0.2
psycopg2==2.9.9
djangorestframework==3.15.1
django-filter==24.2
django-extensions==3.2.3
PyYAML==6.0.1
drf-flex-fields==1.0.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
requests==2.31.0

watchdog==2.1.9
celery==5.3.6
django-celery-results==2.4.0

# dev
ipython==8.21.0
flake8==7.0.0
black==24.1.1

# prod
uvicorn==0.27.0.post1
gunicorn==21.2.0